<section class="cta__area" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="cta__content">
                    <h2 class="title" style="color: black;">Payment successful!</h2>
                    <p style="color: black;">Welcome to CodingFactory, your gateway to exceptional trainings and learning opportunities.</p>
                    <a routerLink="/" class="btn arrow-btn">Back home </a>
                </div>
            </div>
        </div>
    </div>
</section>