<section class="lesson__area section-pb-120">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-3 col-lg-4">
                <div class="lesson__content">
                    <h2 class="title">Course Content</h2>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Course Content
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-wrap">
                                        <li class="course-item open-item" *ngFor="let pdfUrl of course.contenu">
                                            <a href="#" class="course-item-link active" (click)="openPdf(pdfUrl); $event.preventDefault()">
                                                {{ getPdfTitle(pdfUrl) }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-wrap">
                                        <li class="course-item">
                                            <a href="#" class="course-item-link">
                                                <span class="item-name">Course Installation</span>
                                                <div class="course-item-meta">
                                                    <span class="item-meta duration">03:03</span>
                                                    <span class="item-meta course-item-status">
                                                        <img src="assets/img/icons/lock.svg" alt="icon">
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="course-item">
                                            <a href="#" class="course-item-link">
                                                <span class="item-name">Create a Simple React App</span>
                                                <div class="course-item-meta">
                                                    <span class="item-meta duration">07:48</span>
                                                    <span class="item-meta course-item-status">
                                                        <img src="assets/img/icons/lock.svg" alt="icon">
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Final Audit
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-wrap">
                                        <!-- Boucle sur les quizzes existants -->
                                        <li class="course-item open-item" *ngFor="let quiz of existingQuizzes">
                                            <!-- Navigation vers QuizComponent avec l'ID du quiz -->
                                            <a [routerLink]="['/quiz', quiz.idQuiz]" class="course-item-link">
                                                <span class="item-name">{{ quiz.titre }}</span>
                                                <div class="course-item-meta">
                                                    <span class="item-meta duration" *ngIf="quiz.duration">{{ quiz.duration }}</span>
                                                    <span class="item-meta course-item-status">
                                                        <img src="assets/img/icons/lock.svg" alt="icon" *ngIf="!quiz.isAccessible">
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li *ngIf="existingQuizzes.length === 0">
                                            <span class="item-name">Aucun quiz disponible pour ce cours.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="lesson__video-wrap">
                    <div class="lesson__video-wrap-top">
                        <div class="lesson__video-wrap-top-left">
                            <a href="#"><i class="flaticon-arrow-right"></i></a>
                            <span>The Complete Design Course: From Zero to Expert!</span>
                        </div>
                        <div class="lesson__video-wrap-top-right">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <div *ngIf="course">
                        <img [src]="course.image || 'assets/img/courses/course_thumb01.jpg'" alt="{{ course.titre }}" class="img-fluid" style="width: 900px; height: 500px;">
                    </div>
                    <div class="lesson__next-prev-button">
                        <button class="prev-button" title="Create a Simple React App"><i class="flaticon-arrow-right"></i></button>
                        <button class="next-button" title="React for the Rest of us"><i class="flaticon-arrow-right"></i></button>
                    </div>
                    <!-- PDF Viewer -->
                    <div class="pdf-viewer mt-4" *ngIf="selectedPdfUrl">
                        <div #fullscreenContainer class="fullscreen-container">
                            <div class="pdf-header">
                                <h5>Reading: {{ getPdfTitle(selectedPdfUrl) }}</h5>
                                <div class="pdf-controls">
                                    <button class="btn btn-primary" (click)="toggleFullScreen()" *ngIf="!isFullScreen">
                                        Full Screen
                                    </button>
                                    <button class="btn btn-danger" (click)="exitFullScreen()" *ngIf="isFullScreen">
                                        Exit Full Screen
                                    </button>
                                    <button class="btn btn-success" (click)="downloadPdf()">
                                        Download
                                    </button>
                                </div>
                            </div>
                            <iframe [src]="selectedPdfUrl | safe: 'resourceUrl'" width="100%" height="1000px" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="courses__details-content lesson__details-content">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="instructors-tab" data-bs-toggle="tab" data-bs-target="#instructors-tab-pane" type="button" role="tab" aria-controls="instructors-tab-pane" aria-selected="false">Instructors</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                            <div class="courses__overview-wrap">
                                <h3 class="title">Course Description</h3>
                                <div *ngIf="course">
                                    <p>{{ course.description }}</p>
                                </div>
                                <ul class="about__info-list list-wrap">
                                    <li class="about__info-list-item"><i class="flaticon-angle-right"></i><p class="content">Work with color & Gradients & Grids</p></li>
                                    <li class="about__info-list-item"><i class="flaticon-angle-right"></i><p class="content">All the useful shortcuts</p></li>
                                    <li class="about__info-list-item"><i class="flaticon-angle-right"></i><p class="content">Be able to create Flyers, Brochures, Advertisements</p></li>
                                    <li class="about__info-list-item"><i class="flaticon-angle-right"></i><p class="content">How to work with Images & Text</p></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Autres onglets inchangés -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>