<div class="col-lg-12">
    <div class="dashboard__content-wrap dashboard__content-wrap-two">
        <div class="dashboard__content-title">
            <h4 class="title">Enrolled Courses</h4>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6" *ngFor="let course of listCours">
                <div class="courses__item courses__item-two shine__animate-item">
                    <div class="courses__item-thumb courses__item-thumb-two">
                        <a href="course-details.html" class="shine__animate-link">
                            <img [src]="course.image" alt="Course Image">
                        </a>
                    </div>
                    <div class="courses__item-content courses__item-content-two">
                        <ul class="courses__item-meta list-wrap">
                            <li class="courses__item-tag">
                                <a href="course.html">{{ course.titre }}</a>
                            </li>
                        </ul>
                        <h5 class="title"><a href="course-details.html">{{ course.description }}</a></h5>
                        <div class="courses__item-content-bottom">
                            <div class="author-two">
                                <a href="instructor-details.html">
                                    <img src="assets/img/courses/course_author002.png" alt="img">Wilson
                                </a>
                            </div>
                            <div class="avg-rating">
                                <i class="fas fa-star"></i> (4.5 Reviews)
                            </div>
                        </div>
                    </div>
                    <div class="courses__item-bottom-two">
                        <ul class="list-wrap">
                            <li><i class="flaticon-book"></i>60</li>
                            <li>
                                <i class="flaticon-mortarboard"></i>202
                                <!-- Bouton de suppression -->
                                <a href="#" title="Delete" (click)="deleteCourse(course.idCours); $event.preventDefault()"><i class="skillgro-bin mx-5"></i></a>
                            
                            </li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>